﻿
@{
    ViewData["Title"] = "RegisterUserView";
}

<h1>RegisterUserView</h1>

<% using (Html.BeginForm()) {%>
<fieldset>
    <legend>Fields</legend>
    <p>
        <label for="Name">Name and surname:</label>
        <input class="form-control" id="name" name="name" type="text" value="" />

    </p>
    <p>
        <label for="Password">Password:</label>
        <input class="form-control" id="password" name="password" type="password" value="" />

    </p>
    <p>
        <label for="Password2">Repeat password:</label>
        <input class="form-control" id="password2" name="password2" type="password" value="" />

    </p>

    <p>
        <input type="submit" value="Register" />
    </p>
</fieldset>
<% } %>  