﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome TO CINEMACITY WEBSITE UWU</h1>
    
</div>

<fieldset>
    <legend>Login</legend>
    <p>
        <label for="Name">Name and surname:</label>

        <input class="form-control" id="name" name="name" type="text" value="" />

    </p>
    <p>
        <label for="Password">Password:</label>
        <input class="form-control" id="password" name="password" type="password" value="" />


    </p>

    <p>
        <input type="submit" value="Login" />
    </p>
</fieldset>

Or maybe ya want to register?<br />
<input type="button" value="click me to create your account!"/>
